/* -------------- fonts ------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* ------------ variables ----------- */
:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
	--chinese-blue: hsl(228, 45%, 44%);
}

/* ------------- core styles and resets ------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	font-size: 15px;
	line-height: 1.5;
	background: var(--off-white);
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

/* -------------- utils ------------- */
.nav,
.hero,
.top-articles,
.attribution {
	max-width: 1440px;
	margin: 0 auto;
	padding: 1.5rem 1rem;
}

/* ------------- header ------------- */
header {
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon,
.menu-close-icon {
	display: none;
}

.nav--logo {
	font-size: 1.5rem;
	font-weight: 800;
}

.nav--logo img {
	width: 50px;
}

.nav--links {
	display: flex;
	justify-items: center;
	gap: 1.5rem;
}

.nav--links a.nav--link {
	color: var(--dark-grayish-blue);
	font-size: 0.9rem;
	text-transform: capitalize;
}

.nav--links a.nav--link:hover {
	color: var(--soft-red);
}

/* ---------- hero section ---------- */
.hero {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 2fr 1fr;
}

/* ---------- hero content ---------- */
.hero--content {
	display: flex;
	flex-direction: column;
}

.hero--content-body {
	display: flex;
	gap: 2rem;
	padding: 1rem 0;
}

.hero--content-body h2 {
	font-size: 2rem;
	font-weight: 800;
}

.hero--content-body p {
	font-size: 0.9rem;
	color: var(--dark-grayish-blue);
	padding-bottom: 2rem;
}

.hero--content-body .btn {
	display: inline-block;
	padding: 0.75rem 2rem;
	border: none;
	background: var(--soft-red);
	color: white;
	font-size: 0.9rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 500;
	transition: background 300ms ease-in-out;
}

.hero--content-body .btn:hover {
	background: var(--very-dark-blue);
}

/* ---------- hero sidebar --------- */
.hero--sidebar {
	background: var(--very-dark-blue);
	color: white;
	padding: 1rem;
}

.hero--sidebar h1 {
	font-size: 2.5rem;
	padding-bottom: 1rem;
	color: var(--soft-orange);
}

.hero--sidebar .articles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.articles .article::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: var(--dark-grayish-blue);
	margin-top: 2rem;
}

.articles .article:nth-last-child(1)::after {
	content: '';
	display: none;
}

.articles .article h3 {
	padding-bottom: 0.75rem;
	font-size: 1.1rem;
	transition: color 300ms ease-in-out;
}

.articles .article h3:hover {
	color: var(--soft-orange);
}

.articles .article p {
	font-size: 0.9rem;
	color: var(--dark-grayish-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--chinese-blue);
}

/* ------------- media queries ------------- */
@media screen and (max-width: 768px) {
	header {
		position: relative;
	}

	.nav--links {
		display: none;
		position: absolute;
		background: var(--off-white);
		top: 0;
		right: 0;
		align-items: flex-start;
		flex-direction: column;
		width: 75%;
		height: 100vh;
		padding: 0 1.5rem;
		padding-top: 10rem;
		font-weight: 500;
	}

	.nav--links a.nav--link {
		font-size: 1.2rem;
	}

	.menu-icon {
		display: block;
		font-size: 1.5rem;
		color: var(--dark-grayish-blue);
		z-index: 100;
	}

	.menu-close-icon {
		z-index: 100;
		display: none;
	}

	/* ---------- hero section ---------- */
	.hero {
		grid-template-columns: 1fr;
	}

	.hero--content-body {
		flex-direction: column;
	}

	/* --------- shared classes --------- */
	.show {
		display: flex;
	}

	.hide {
		display: none;
	}

	.darken {
		background: rgba(46, 37, 37, 0.7);
	}
}

@media screen and (max-width: 375px) {
	.nav--links {
		padding-top: 7rem;
	}
}
