/* -------------- fonts ------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* ------------ variables ----------- */
:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
	--chinese-blue: hsl(228, 45%, 44%);
}

/* ------------- core styles and resets ------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	font-size: 15px;
	line-height: 1.5;
	background: var(--off-white);
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

/* -------------- utils ------------- */
.nav,
.hero,
.top-articles,
.attribution {
	max-width: 1440px;
	margin: 0 auto;
	padding: 1.5rem 1rem;
}

/* ------------- header ------------- */
header {
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav--logo {
	font-size: 1.5rem;
	font-weight: 800;
}

.nav--logo img {
	width: 50px;
}

.nav--links {
	display: flex;
	justify-items: center;
	gap: 1.5rem;
}

.nav--links a.nav--link {
	color: var(--dark-grayish-blue);
	font-size: 0.9rem;
	text-transform: capitalize;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--chinese-blue);
}
